{% extends "base.html" %}

{% block title %}{{ name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 mx-auto text-center">
        <h1>Вы выбрали: {{ name }}</h1>
        <div class="alert alert-success mt-4">
            <h4>Отличный выбор!</h4>
            <p>Мы подготовили для вас специальные предложения по этому направлению.</p>
        </div>
        
        <div class="card mt-4">
            <div class="card-body">
                <h3>Рекомендуемые маршруты</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Экскурсия по главным достопримечательностям</li>
                    <li class="list-group-item">Гастрономический тур</li>
                    <li class="list-group-item">Приключенческий маршрут</li>
                </ul>
            </div>
        </div>
        
        <div class="mt-4">
            <a href="{{ url_for('form') }}" class="btn btn-primary btn-lg">Оставить заявку</a>
        </div>
    </div>
</div>
{% endblock %}